@import '../../../mixins/mixins.scss';

.pricing__sectionTitle {
	font-size: 3rem;
	font-weight: 900;
	font-family: 'Yeseva One', cursive;
	@include noSelection;
}
.pricing__sectionSubTitle {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 1em;
	@include noSelection;
}

.pricing__hostingDomainContainer {
	@include flexDirJustAli(row, center, center);
	background: linear-gradient(
		to bottom,
		rgba(253, 116, 108, 0.75),
		rgba(255, 144, 104, 0.75)
	);
	border-radius: 25px;
	padding: 1em;
	margin: 1em;
	.pricing__hostingDomain {
		margin: 0em 1em;
		@include flexDirJustAli(column, center, flex-start);
		@include noSelection;
		.pricing__hostingDomainTitle {
			text-align: center;
			font-size: 1.5rem;
		}
		.pricing__hostingDomainLink {
			color: #ffffff;
			text-decoration: none;
			&:hover {
				color: #fff333;
			}
			.pricing__hostingDomainText {
			}
		}
	}
}
