@import '../../../mixins/mixins.scss';

.header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	height: 4vh;
	background: #161517;
	z-index: 3;
	@include noSelection;
	.header__logoContainer {
		display: flex;
		a {
			display: flex;
			.header__logo {
				height: 4vh;
				margin-left: 0;
				padding: 0px 1em;
			}
			h1 {
				color: #ffffff;
				font-family: 'Alfa Slab One', cursive;
				font-size: 4vw;
				line-height: 4.5vh;
			}
		}
	}
	ul {
		display: flex;
		list-style-type: none;
		padding-right: 1em;
		font-family: 'Poiret One', cursive;
		a {
			color: #ffffff;
			margin: auto 1em;
			text-decoration: none;
			&:hover {
				color: #fff333;
			}
			li {
			}
		}
	}
}

@media (max-device-width: 530px) {
	.header {
		.header__logoContainer {
			a {
				text-decoration: none;
				.header__logo {
				}
				h1 {
				}
			}
		}
		ul {
			a {
				&:hover {
				}
				li {
					font-size: 0.5rem;
				}
			}
		}
	}
}

@media (min-device-width: 1000px) {
	.header {
		.header__logoContainer {
			a {
				text-decoration: none;
				.header__logo {
				}
				h1 {
					font-size: 1rem;
				}
			}
		}
		ul {
			a {
				&:hover {
				}
				li {
				}
			}
		}
	}
}
