@mixin noSelection() {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


@mixin heightWidth($hei, $wei) {
	height: $hei;
	width: $wei;
}

@mixin flexDirJustAli($direction, $justified, $alignment) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justified;
	align-items: $alignment;
}

$bgGradient: linear-gradient(
	to bottom,
	rgba(253, 116, 108, 0.75),
	rgba(255, 144, 104, 0.75)
);

