@mixin heightWidth($hei, $wei) {
	height: $hei;
	width: $wei;
}

@mixin flexDirJustAli($direction, $justified, $alignment) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justified;
	align-items: $alignment;
}

.section {
	flex: 1;
	padding: 2em 0em;
	@include heightWidth(fit-content, 100%);
	@include flexDirJustAli(column, center, center);
}
